body {
    background-color: #FFFFFF;
    background-image: url("../img/grid-18px-masked.png");
    background-position: 0 40px;
    background-repeat: repeat-x;
    padding-top: 90px;
    position: relative;
}
.message{ padding: 10px 0  20px; }

.error-message{}